.mypy_cache
.pytest_cache
.venv

__pycache__
*.pyc

tools/out_*
tools/*.png

.coverage

frontend/node_modules/
frontend/static/js/*.js
frontend/static/js/*.js.map
frontend/static/ts/*.js
frontend/static/ts/*.js.map

build/

tests/blueprints
.codegraph